<!DOCTYPE html>
<html lang="en">
<%- include('partials/header') -%>
<body>
<!-- Start your project here-->
<%- include('partials/navBar') -%>
<!-- parallax intro -->

<div class="about-intro"></div>

<div class="container py-5 my-5">
    <%- include('db/about-page') -%>
</div>

<%- include('partials/footer') -%>

<!-- End your project here-->

<%- include('partials/scripts') -%>

</body>
</html>
