<!DOCTYPE html>
<html lang="en">
<%- include('partials/header') -%>
<body>
<!-- Start your project here-->
<%- include('partials/navBar') -%>
<!-- parallax intro -->

<div class="contact-intro">
    <div class="text-center">
        <h1 class="display-4 font-weight-bold spread text-white">Contact Us</h1>
    </div>
</div>

<div>
    <%- include('db/contact-page') -%>
</div>

<%- include('partials/footer') -%>

<!-- End your project here-->

<%- include('partials/scripts') -%>

</body>
</html>